{% extends "layout/basic.html" %}
{% load static %}
{% load index %}




{% block section %}

<div class="row" style="width: 80em;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="userTable">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th>Действия</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in categories %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ c.title }}</td>
                            <td>
                                <a id = "a" href="{% url 'delete_category' c.pk %}" onclick="return confirm(&#39;Вы уверены?&#39;)" class="btn btn-danger btn-flat"><i class="fas fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}