{% extends "layout/basic.html" %}
{% load static %}
{% load index %}

{% block link %}
<link rel="stylesheet" href="{% static 'app/form.css' %}">
<link rel="stylesheet" href="{% static 'app/autocomplete.css' %}">
{% endblock %}

{% block active %}



<nav class="dropdownmenu">
    <ul>

      <li><a style="padding: 10px 60px 10px 60px;">{{ type }}</a>
        <ul id="submenyu">
          <li><a href="{% url 'material' obj category %}">Все</a></li>  
          <li><a href="{% url 'sort_material' obj 'flat' category %}">Квартиры</a></li>
          <li><a href="{% url 'sort_material' obj 'plot' category %}">Участки</a></li>
      
        </ul>  
      </li>  

    </ul>  
</nav>    

{% endblock %}









{% block section %}
<div class="row add-button">
    <div class="col-xs-4">
           
           <form style="padding: 10px;">
            <label>Категория</label><input id="search" type="text" value="{{ category }}"><a id = "url" style="background-color: rgb(252, 52, 52); font-size: 15px; color: black;">поиск</a>
          </form>
       </div>
</div>
<div class="row add-button">
    <div class="col-xs-4">
        <a href="{% url 'get_excel' file_path %}" class="btn btn-flat bg-orange"><i class="fas fa-file-excel-o"></i>Скачать Excel</a>
        
        
    </div>
</div>
<div class="row" style="width: 80em;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="userTable">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Категория</th>
                            <th>Измерение</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Всего (сум)</th>
                            <th>Всего ($)</th>
                            
                            <th>Дата</th>
                            <th>Действия</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in materials %}
                        <tr>
                            <td>{{ m.title }}</td>
                            <td>{{ m.category.title }}</td>
                            <td>{{ m.measurement }}</td>
                            <td>{{ m.amount }}</td>
                            <td>{{ m.price }}</td>
                            {% if m.summ_or_dollar == 'суммы' %}
                            <td>{{ total_amount|index:forloop.counter0 }}</td>
                            <td></td>
                            {% else %}
                            <td></td>
                            <td>{{ total_amount|index:forloop.counter0 }}</td>
                            {% endif %}
                            
                            
                
                            <td>{{ m.published|date:"d.m.Y" }}</td>
                            <td><a id = "a" href="{% url 'delete_material' m.pk %}" onclick="return confirm(&#39;Вы уверены?&#39;)" class="btn btn-danger btn-flat"><i class="fas fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                        {% endfor %}
                        {% if materials %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>{{ price_summ }}</th>
                            <th>{{ price_dollar }}</th>
                            
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>1$ = {{ currency }}</th>
                            <th>{{ summ_to_dollar }}$</th>
                            <td></td>
                            <td></td>
                            <th>Всего {{ overall }}$</th>
                        </tr>
                        {% else %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}





{% block script %}
<script>
function autocomplete(inp, arr) {
       
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("click", function(e) {
     
        
     var a, b, i, val = this.value;
        
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("div");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
       
        document.getElementById("url").href = "/allaccountssort/pseudonym/" + val;
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        if (val == '\0') { 
         for (i = 0; i < arr.length; i++) {
           b = document.createElement("DIV");
           b.setAttribute("class", "list");
           b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
           b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                
               
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);

         }
        }

        else {
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "list");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            
            /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    }
        
    }
    );
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        if (val == '\0') { 
         for (i = 0; i < arr.length; i++) {
           b = document.createElement("DIV");
           b.setAttribute("class", "list");
           b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
           b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);

         }
        }

        else {
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "list");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            
            /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/

  }


     var ps = ["Все"];
     {% for i in categories %} 
     ps[{{ forloop.counter }}] = "{{ i.title }}";
     
     {% endfor %}
     autocomplete(document.getElementById("search"), ps);
     function input(obj) {
     obj.addEventListener("click", function(e) {
         
         var pseu = document.getElementById("search").value;
         {% if type == 'Квартиры' %}
         document.getElementById("url").href = "/sort_material/"+ "{{ obj }}/" + "flat/" + pseu;
         {% else %}
         {% if type == 'Участки' %}
         document.getElementById("url").href = "/sort_material/"+ "{{ obj }}/" + "plot/" + pseu;
         {% else %}
         document.getElementById("url").href = "/material/"+ "{{ obj }}/" + pseu;
         {% endif %}
         {% endif %}

     });

 
         
 }
   input(document.getElementById("url"));
</script>
{% endblock %}


