{% extends "layout/basic.html" %}
{% load static %}
{% load index %}
{% block section %}

<div class="row" style="width: 80em;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="userTable">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Измерение</th>
                            <th>Количество</th>
                            <th>Суммы или доллары</th>
                            <th>Цена</th>
                            <th>Общая сумма</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in materials %}
                        <tr>
                            <td>{{ m.title }}</td>
                            <td>{{ m.measurement }}</td>
                            <td>{{ m.amount }}</td>
                            <td>{{ m.summ_or_dollar }}</td>
                            <td>{{ m.price }}</td>
                            <td>{{ total_amount|index:forloop.counter0 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}