.env
db.sqlite3
app/__pycache__
app/migrations
app/views/__pycache__
app/templatetags/__pycache__
views/__init__.py
bot/__pycache__
construction_bot/__pycache__
construction_bot/__init__.py
staticfiles
files
filebot
