{% extends 'layout/basic.html' %}
{% block section %}


<div class = "row">
    <div class="col-xs-12">
        <div class="box-body">
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      
                      {{ field.errors }} 
                      {{ field.label_tag }} {{ field }}

                </div>
            </div>
            {% endfor %}
            <input class="bg-orange" type="submit" value="Изменить" id = "button">  
            </form>
            
        </div>
    </div>
</div>

{% endblock %}
{% block active %}      
    <a href="{% url 'delete_foreman' object.pk %}" class="" style="background-color: rgb(207, 32, 32); padding-right: 7px; font-size: 13px;" onclick="return confirm(&#39;Вы уверены?&#39;)"><i class="fas fa-trash" style="padding: 10px;"></i>Удалить</a>
{% endblock %}
